<div id="content">
	<%= link_to image_tag(@cloud.url), @cloud.link, :class=>'cloud'%> <!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
		<div id="share">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			<a class="addthis_counter addthis_pill_style"></a>
		</div>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f75203930e55571"></script>
	<!-- AddThis Button END -->
</div>
